.promo__txt {
    position: absolute;
    max-width: 50%;
    bottom: 25%;
    right: 100px;
    text-align: right;
    font-style: italic;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: 1px 0 2px #fff, 
                0 1px 2px #fff, 
                -1px 0 2px #fff, 
                0 -1px 2px #fff;
}

.promo__img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    
}


.slider__wrapper {
    width: 100%;
    height: 1050px;
}

.araise {
    transition: 2s;
    opacity: 1 !important;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(to right, #fcfdce, #ffffff);
}

.slider__nav {
    height: 40px;
    width: 100%;
    margin-top: 1.5em;
}

.slider__nav button {
    border: none;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-indent: -9999em;
    background-color: transparent;
    background-repeat: no-repeat;    
}

.slider__nav button.slider__previous {
    float: left;
    background: #282906;
}

.slider__nav button.slider__next {
    float: right;
    background: #2a2b06;
}

/* ______________________________ \* беседка */
.chat__checkbox {
    position: absolute;
    visibility: hidden;
}
#check__id:checked~.chat__box {
    visibility: visible;
}

.chat__box {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: url("/img/chat.png") center/cover no-repeat,
    linear-gradient(to right bottom, #fcfdce, #FFF);
}

.chat__header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-style: italic;
    color: crimson;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.chat__message { 
    margin-right: -10px;
    font-size: 24px;
    padding: 25px;
    background: linear-gradient(to right top, #fcfdce, #fcfcf4);
    border: none;
    border-radius: 25px 0 0 25px;
}

.chat__button {
    font-size: 24px;
    padding: 25px;
    color: #fcfdce;
    background-color: #444;
    border: none;
    border-radius: 0 25px 25px 0;
}

.chat__button:active {
    box-shadow: inset 0 0 0 1px #fcfdce;
    transform: scale(0.99);
}

.chat__area {
    opacity: 0.7;
    height: 50%;
    width: 66%;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 28px;
    background: linear-gradient(to right bottom, #fbfbc5, #fdfcf7);
}

