@import url("/css/promo.css");

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Havana-Regular', cursive;
    max-width: 1500px;
    margin: 0 auto;
    background: linear-gradient(to left top,#ffffff, #fcfdce);
}

/* _________________________________ \* голова */
.header {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px dotted #444444;
    background:
        linear-gradient(to left, #444, #222);
}
    .header::after {
        position: absolute;
        content: url("/img/corner.svg");
        bottom: -30px;
        left: 0;
    }
    .header::before {
        position: absolute;
        content: url("/img/corner.svg");
        top: -10px;
        right: 0;
        transform: rotate(180deg);
    }
    .header svg:hover {
        fill: dodgerblue;
        stroke: #1e90ff;
}

.name {
    font-family: 'DancingScript-Bold'; 
    font-weight: bold;
    font-size: 70px;
}

/* ______________________________ \* навигация */
.menu {
    padding-top: 10px;
    background: url("/img/nav-2.svg") left top/90px repeat-x;
}


.menu__ancor {
    color: #000;
    padding: 10px 22px;
    font-size: 23px;
    width: auto;
    border: 1px ridge #333333;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: none;
}

.menu a:hover {
    color: dodgerblue;
    border-color: #1e90ff;
}

/* __________________________________\* главная */
.main {
    position: relative;
}


/* ____________________________________ \* лучшее почитать */
.best__read { 
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fcfdce;
    background: linear-gradient(to left top,    #444444, #222222);
}
    .best__read::after {
        content: url('/img/gzhel_l-t.svg');
        position: absolute;
        top: -25px;
        left: -25px;
    }
    .best__read::before {
        content: url('/img/gzhel_l-t.svg');
        position: absolute;
        bottom: -25px;
        right: -15px;
        rotate: 180deg;
    }
    .best__read img {
        width: 200px;
        filter: grayscale(70%);
}


.best__read__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.best__read__item:hover {
    color: dodgerblue;
}

/* ____________________________________ \* лучшее послушать */

.best__music {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    gap: 50px;
    background: linear-gradient(to top right, rgba(245, 244, 187, 0.3), #fcfde7),
        url("/img/notes.png") center/cover no-repeat;
}
    /* .best__music>:nth-last-child(1){
        grid-column: 1/3;
        grid-row: 2/4;
} */

.music__item {
    position: relative;
}

.music__label {
        position: absolute;
        bottom: 50px;
        right: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        text-align: right;
        color: #1e90ff;
        text-shadow: 1px 0 2px #94c9ff, 
                    0 1px 2px #94c9ff, 
                    -1px 0 2px #94c9ff, 
                    0 -1px 2px #94c9ff;
}

.mus__img {
    width: 80%;
    transition: .2s;
}
.mus__img:hover {
    transform: scale(1.05);
}

.round .mus__img {
    transition: transform 250s linear;
    transform: rotate(5000deg);
}

/*_____________________________________ \* картины */
.pictures {
    height: 500px;
    background: linear-gradient(to right top, #222, #444);
}


/*_____________________________________ написать нам */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.3), #fcfde7),
     url("/img/fon__contact.png") bottom/cover;
    grid-template-columns: repeat(2, 1fr);
}

.contact__left {
    
    max-width: 450px;
    text-align: center;
}
.contact__ava {
    filter: grayscale(75%);
    border-radius: 50%;
}

.contact__txt {
    margin-top: 12px;
    font-size: large;
}

.contact__right {
    gap: 10px;
    z-index: 1;
}

.contact__form input:hover,
.contact__form textarea:hover {
    outline: 1px solid dodgerblue;
    color: dodgerblue;
}

.input__email {
    padding: 8px;
    width: 80%;
    height: auto;
    border: none;
    border-radius: 10px 10px 0 0;
}

.input__txt {
    padding: 8px;
    width: 80%;
    border: none;
}

.input__submit {
    width: 80%;
    padding: 8px;
    height: auto;
    border: none;
    border-radius: 0 0 10px 10px;
}

.input__submit:focus {
    box-shadow: inset 0 0 0 1px #777777;
    transform: scale(1, 0.97);
}

/* __________________________________ подвал */
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: url("/img/gzhel_l-t.svg") top -10px left / 160px no-repeat,
        url("/img/grass.svg") bottom  right -20px / 90px repeat-x,
        url("/img/grass-2.svg") bottom -2px right 16px/ 90px repeat-x,
        url("/img/grass-3.svg") bottom -2px right 23px / 90px repeat-x,
        url("/img/grass-4.svg") bottom -5px right 66px / 90px repeat-x,
        linear-gradient(to left, #444, #222);
}
    .footer svg:hover {
        fill: dodgerblue;
        stroke: dodgerblue;
}


/*цвета*/
.bright__lemon {color: #fcfdce;}
.birusa {color: dodgerblue;}

.b__xerox{background-color: #333333;}

/*позиционирование*/
.center {
    padding-left: calc(50% - 42%);
    padding-right: calc(50% - 42%);
}

.flex{display: flex;}
.gap__30{gap: 30px;}

.column{flex-direction: column;}

.wrap{flex-wrap: wrap;}

.jc-c{justify-content: center;}
.jc-sb{justify-content: space-between;}
.jc-e{justify-content: end;}

.ai-c{align-items: center;}

.grid{display: grid;}

.ji-c{justify-items: center;}