@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Havana-Regular', cursive;
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: 10px 25px 50px 5px rgba(10, 10, 10, 0.4);
    background: linear-gradient(to left top,#ffffff, #fcfdce);
}

.disp__none {display: none;}
.vis__hidden{visibility: hidden;}

/* _________________________________ \* голова */
.header {
    position: relative;
    height: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 4px dotted #444444;
    background:
        linear-gradient(to left, #444, #222);
}
    .header svg:hover {
        fill: #1e90ff;
        stroke: #1e90ff;
}
.header__after {
    position: absolute;
    bottom: -15px;
    left: 0;
}
.header__before {
    position: absolute;
    top: -30px;
    right: -10px; 
    rotate: 180deg;
    scale: 0.8;
}

.header__left {
    z-index: 1;
}

.header__right {
    z-index: 1;
}

.name {
    cursor: pointer;
    font-family: 'DancingScript-Bold'; 
    font-weight: bold;
    font-size: 50px;
}
.name2 {
    font-size: 25px;
}

/* ___________________________  \* навигация */
.mobile__menu {
    position: absolute;
    padding: 20px 20px;
    right: 0;
    height: 1000px;
    gap: 20px;
    width: 100%;
    background: linear-gradient(to top right, rgba(245, 244, 187, 0.9), #fcfde7);
    z-index: 2;
}
.mobile__menu__ancor {
    color: #000;
    cursor: pointer;
}
.mobile__menu__ancor:hover {
    color: dodgerblue;
    border-color: #1e90ff;
}

.menu {
    padding-top: 10px;
    background: url("/img/nav-2.svg") left top/90px repeat-x;
}

.menu__ancor {
    color: #000;
    padding: 10px 22px;
    font-size: 23px;
    width: auto;
    border: 1px ridge #333333;
    border-radius: 15px;
    z-index: 1;
}

.menu a:hover,
.menu p:hover {
    color: dodgerblue;
    border-color: #1e90ff;
    background: linear-gradient(to top right, #333, #666);
}

/* ______________________________ \* беседка */

.chat__box {
    position: absolute;
    top: 12%;
    right: 0;
    height: 90%;
    background: url("/img/chat.png") center/cover no-repeat,
    linear-gradient(to right bottom, #fcfdce, #FFF);
    z-index: 1;
}

.chat__header {
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-style: italic;
    color: crimson;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.chat__message { 
    margin-right: -10px;
    font-size: 24px;
    padding: 25px;
    background: linear-gradient(to right top, #fcfdce, #fcfcf4);
    border: none;
    border-radius: 25px 0 0 25px;
}

.chat__button {
    font-size: 24px;
    padding: 25px;
    color: #fcfdce;
    background-color: #444;
    border: none;
    border-radius: 0 25px 25px 0;
}

.chat__button:active {
    box-shadow: inset 0 0 0 1px #fcfdce;
    transform: scale(0.99);
}

.chat__area {
    margin-bottom: 50px;
    opacity: 0.7;
    height: 50%;
    width: 66%;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 28px;
    background: linear-gradient(to right bottom, #fbfbc5, #fdfcf7);
} 


/* _____________________________ \* слаидер */
.main {
    position: relative;
    height: 1100px;
    overflow: hidden;
}

.arise {
    transition: 1s;
    opacity: 1 !important;
}

.slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 88%;
    /* height: 100%; */
    transition: 1s;
    opacity: 0;
    background: linear-gradient(to right, #fcfdce, #ffffff);
}

div.slider__txt {
    position: absolute;
    max-width: 50%;
    bottom: 25%;
    right: 100px;
    text-align: right;
    font-style: italic;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: 1px 0 2px #fff, 
                0 1px 2px #fff, 
                -1px 0 2px #fff, 
                0 -1px 2px #fff;
}

.slider__img {
    width: 100%;
    opacity: 0.4;
    
}

.slider__nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /* margin-top: 1.5em; */
}

.slider__nav button {
    border: none;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.slider__nav button:hover {
    background-color: rgba(255, 241, 160, 0.1);
    filter: brightness(0);
}

.slider__previous {
    float: left;
    background: url('/img/slider/previous.svg') left no-repeat;
    z-index: 1;
}

.slider__next {
    float: right;
    background: url('/img/slider/next.svg') right no-repeat;
    z-index: 1;
}


/* ___________________________________________\* статьи */
.articles {
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.9), rgba(112, 112, 112, 0.8)),
    url("/img/videoplayer/dawn.png") center/cover;
}

.articles__heading {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #1e90ff;
}

.article {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 30px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #fcfdce;
    border: 1px solid rgba(70, 70, 70, 0.3);
    box-shadow: 5px 5px 20px  rgba(10, 5, 5, 0.3);
}
.article__a:hover {
    color: dodgerblue;
    outline: 1px solid #1e90ff;
}
.article__p:hover,
.article__h3:hover {
    color:#1e90ff;
}
.article__a {
    padding: 5px 25px;
    font-size: 20px;
    color: #fcfdce;
    border-radius: 25px;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.3), rgba(250, 136, 136, 0.3));
}

.article__item__img__wrapp {
    width: 80%;
    overflow: hidden;
}

.article__item__img {
    width: 100%;
    filter: grayscale(0.8);
} 

.itc-slider {
    position: relative;
    margin-top: 25px;
  }
  
  .itc-slider__wrapper {
    overflow: hidden;
  }
  
  .itc-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
  .itc-slider__transition-none {
    transition: none;
  }
  
  .itc-slider__item {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    user-select: none;
    will-change: transform;
  }
  
  /* кнопки влево и вправо */
  .itc-slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    color: #fff;
    text-align: center;
    background: rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
  }
  
  .itc-slider__btn_hide {
    display: none;
  }
  
  .itc-slider__btn_prev {
    left: -15px;
  }
  
  .itc-slider__btn_next {
    right: -15px;
  }
  
  .itc-slider__btn:hover,
  .itc-slider__btn:focus {
    color: #fff;
    text-decoration: none;
    background: rgb(0 0 0 / 30%);
    outline: 0;
  }
  
  .itc-slider__btn::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .itc-slider__btn_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .itc-slider__btn_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  /* индикаторы */
  .itc-slider__indicators {
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin: 0 15%;
    padding-left: 0;
    list-style: none;
  }
  
  .itc-slider__indicator {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgb(255 255 255 / 50%);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
  }
  
  .itc-slider__indicator_active {
    background-color: rgb(255 255 255 / 90%);
}


/* ____________________________________ \* лучшее послушать */

.best__media {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template: 20px 1fr 1fr/repeat(4, 1fr);
    gap: 40px;
    background: linear-gradient(to top right, rgba(245, 244, 187, 0.3), #fcfde7),
        url("/img/notes.png") center/cover no-repeat;
}

.best__media__heading {
    grid-column: 1/5;
    grid-row: 1;
    font-size: 40px;
    text-align: center;
    color: dodgerblue;
}


.music__item {
    position: relative;
}


.music__label {
    position: absolute;
    bottom: 10%;
    right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    font-weight: bold;
    text-align: right;
    color: #1e90ff;
    text-shadow: 2px 0 5px  #94c9ff, 
            0 2px 5px #94c9ff, 
            -2px 0 5px #94c9ff, 
            0 -2px 5px #94c9ff;
}

.artist {
    font-size: 23px;
}

.mus__img {
    position: absolute;
    left: 15%;
    top: 15%;
    /* transform: translate(-50%,0); */
    width: 70%;
    cursor: pointer;
}

.round {
    animation: rotate-center 10s linear infinite both;
}

/* рейтинг*/
.rating__form {
    position: absolute;
    width: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.rating__img__yes {
    width: 100%;
}
.rating__img__no {
    width: 100%;
}
.rating__sign__input {
    visibility: hidden;
}

/*_____________________________________ \* видео */
.video__wrapper {
    background-color: #111;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 3;
    border: 1px solid #222;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}


.video__title {
    font-size: 23px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%,0);
    color: #fff;
}

.video {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.controls {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #333, #aaa);
    opacity: 0.9;
    transition: bottom .3s linear;
}

.hide__hud {
    bottom: -10%;
}

.buttons {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

.play,
.pause {
    width: 100%;
    height: 100%;
}

.buttons__box {
    height: 100%;
}

.buttons__box img {
    height: 100%;
}

.volume__input {
    width: 10%;
} 

.time__input {
    width: 50%;
}

.duration__box {
    font-family: 'Times New Roman', Times, serif;
    width: 10%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.full__screen {
    height: 100%;
}

.side {
    width: 1%;
    height: 100%;
    box-shadow: 3px 0px 3px #333,
                -3px 0px 3px #333;
}

input[type=range]  {
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 20%;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 100%;
    cursor: pointer;
    background-color: #999;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ddd;
    cursor: pointer;
    width:15px;
    height: 100%;
    box-shadow: -1000px  0 0 1000px  #444;
}


/* ____________________________________ \* лучшее почитать */
.best__read { 
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fcfdce;
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.9), rgba(100, 100, 100, 0.8)),
    url("/img/books/dawn.jpeg") left/cover;
}
    .best__read::after {
        content: url('/img/corner.svg');
        position: absolute;
        top: 70px;
        left: 70px;
        rotate: 90deg;
        scale: 2;
    }
    .best__read::before {
        content: url('/img/corner.svg');
        position: absolute;
        bottom: 70px;
        right: 95px;
        rotate: 270deg;
        scale: 2;
    }
    .best__read img {
        width: 70%;
        filter: grayscale(70%);
}


.best__read__item {
    font-family: 'Times New Roman', Times, serif;
    width: 450px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: .3s;
    z-index: 1;
    box-shadow: 5px 5px 20px  rgba(10, 5, 5, 0.3);
    border: 1px solid rgba(70, 70, 70, 0.3); 
}

.best__read__item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.best__read__item p:hover,
.best__read__item h3:hover,
.best__read__item a:hover {
    color: dodgerblue;
}

.best__read__heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: #1e90ff;
}

.best__read__ancor {
    padding: 5px 25px;
    font-size: 20px;
    color: #fcfdce;
    border-radius: 25px;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.3), rgba(229, 250, 136, 0.3));
}





/*_____________________________________ написать нам */
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.3), #fcfde7),
     url("/img/fon__contact.png") bottom/cover;
}

.contact__left {
    /* max-width: 450px; */
    width: 80%;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 0 2px #fff, 
                0 1px 2px #fff, 
                -1px 0 2px #fff, 
                0 -1px 2px #fff;
}

.contact__ava {
    filter: grayscale(75%);
    border-radius: 100px;
}

.contact__txt {
    margin-top: 12px;
    font-size: 26px;
}

.contact__right {
    width: 100%;
}

.contact__form {
    width: 80%;
}

.contact__form input:hover,
.contact__form textarea:hover {
    outline: 1px solid dodgerblue;
    color: dodgerblue;
}

.contact__header {
    font-size: 26px;
    margin-bottom: 15px;
}

.input__email {
    padding: 8px;
    /* width: 100%; */
    height: auto;
    border: none;
    border-radius: 10px 10px 0 0;
}
.input__txt {
    padding: 8px;
    /* width: 100%; */
    border: none;
}
.input__submit {
    padding: 8px;
    /* width: 100%; */
    border: none;
    border-radius: 0 0 10px 10px;
}
.input__submit:hover {
    color: dodgerblue;
    border-color: #1e90ff;
}

.input__submit:focus {
    box-shadow: inset 0 0 0 1px #777777;
    transform: scale(1, 0.97);
}

/* __________________________________ подвал */
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: url("/img/corner.svg") top -10px left / 220px no-repeat,
        url("/img/grass.svg") bottom  right -20px / 90px repeat-x,
        url("/img/grass-2.svg") bottom -2px right 16px/ 90px repeat-x,
        url("/img/grass-3.svg") bottom -2px right 23px / 90px repeat-x,
        url("/img/grass-4.svg") bottom -5px right 66px / 90px repeat-x,
        linear-gradient(to left, #444, #222);
}
    .footer svg:hover {
        fill: dodgerblue;
        stroke: dodgerblue;
}


/*цвета*/
.bright__lemon {color: #fcfdce;}
.dblue {color: dodgerblue;}

.b__xerox{background-color: #333333;}

/*позиционирование*/
.center {
    padding-left: calc(50% - 43%);
    padding-right: calc(50% - 43%);
}

.flex{display: flex;}
.gap__30{gap: 30px;}

.column{flex-direction: column;}

.wrap{flex-wrap: wrap;}

.jc-c{justify-content: center;}
.jc-sb{justify-content: space-between;}
.jc-sa{justify-content: space-around;}
.jc-e{justify-content: end;}

.ai-s{align-items: start;}
.ai-c{align-items: center;}
.ai-b{align-items: baseline;}
.ai-e{align-items: end;}

.grid{display: grid;}

.ji-c{justify-items: center;}

